{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="red">Designers Page</h1>
    <ul>
        {% for details in designers %}
            <li>Name: {{ details.full_name }}</li>
            <li>About {{details.full_name}}:{{ details.bio }}</li>
            <li>Contact: {{ details.email }}</li>
            <hr>
        {% endfor %}
        {% for image in prints %}
            <li><img src="{{ image.image.url }}" class="temp-image"></li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}

